<% @contacts.each do |contact| %>
  <p>First Name: <%= contact['contact_entry']['first_name'] %></p>
  <p>Last Name: <%= contact['contact_entry']['last_name'] %></p>
  <p>Email: <%= contact['contact_entry']['email'] %></p>
  <p>Phone Number: <%= contact['contact_entry']['phone_number'] %></p>
  <hr>
<% end %>